### Windows ###
[Dd]esktop.ini

### macOS ###
.DS_Store
._*

### C++ ###
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.out

### CMake ###
build/
cmake-build-*/
CMakeUserPresets.json
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
Makefile
